/*
Blackjack homework assignment
Team members:
Chris Bonk
Andy Cleavenger
John Morabito

Division of tasks:
Andy did most of the CSS work that governs the appearance of the GUI.
*/

body {
    background-color: black; /* Black background makes it possible for green felt image with feathered edges to look like a spotlight on a green felt table */
}

#pageContent {
    position: relative; /* Takes the body of the page out of the natural flow of the document so that absolute positioning would function on child divs*/
}

p {
    color: white; /* White text */
}

#currentValueDealer { /* Sets the position for the Dealer score */
    color: white;
    position: relative;
    z-index: 5;
    left: 350px;
    top: 130px;
    visibility: hidden;
}

#currentValuePlayer { /* Sets the position for the Player score */
    color: white;
    position: relative;
    z-index: 4;
    left: 350px;
    top: 400px;
    visibility: hidden;
}

#playersArea { /* Sets the position for the player's cards */
    background-color: black;
    height: 209px;
    width: 320px;
    position: absolute;
    top: 365px;
    left: 450px;
    visibility: visible;

}

#dealersArea { /* Sets the position for the Dealer's cards */
    background-color: black;
    height: 209px;
    width: 320px;
    position: absolute;
    left: 450px;
    top: 50px;
    visibility: visible;

}

.playerCards { /* Sizes the images down and layers them above all other items in z dimension */
    height: 209px;
    width: 150px;
    position: absolute;
    z-index: 200;
}


.dealerCards { /* Sizes the images down and layers them above all other items in z dimension */
    height: 209px;
    width: 150px;
    position: absolute;
    z-index: 200;
}


#buttonPanel { /* Positions the button panel */
    position: absolute;
    z-index: 6;
    left: 550px;
    top: 420px;
    padding-bottom: 50px;
    padding-top: 200px;
}

#winLoseMsg { /* Positions the win/loss message */
    text-align: center;
    position: absolute;
    z-index: 7;
    left: 540px;
    top: 275px;
    color: gold;
}

#cashDiv { /* Positions the available cash div within the bottom nav div */
    color: gold;
    position: relative;
    z-index: 9;
    align-content: center;
    top: -130px;
    left: 180px;
    line-height: 50%;

}

#betDiv { /* Positions the bet amount div within the bottom nav div */
    color: gold;
    position: relative;
    z-index: 8;
    line-height: 50%;
    top: -230px;
    left: 950px;

}

#bottomNav { /* vertically positions the div that houses both the cash amount and bet amount */
    position: absolute;
    top: 730px;
    z-index: 8;

}

#pageContent { /* Sets the page at given width and centers it in the browser window */
    width: 1200px;
    margin: auto;

}

#felt { /* Sets position for the felt image */
    height: 950px;
    width: 1200px;
    position: absolute;
    z-index: 1;
    top: -100px;
    visibility: visible;

}

#directionBox { /* Sets position and appearance of User directions box */
    height: 450px;
    width: 700px;
    position: relative;
    left: 250px;
    top: 30px;
    background: limegreen;
    border: 2px solid darkgreen;
    border-radius: 20px;
    opacity: 0.75;
    z-index: 200;
    font-family: Avenir;
}

#directionMsg { /* Sets appearance of text in User direction box */
    color: white;
    margin: 40px;
}

#directionHead { /* Sets appearance of Title in User directions */
    color: black;
    text-align: center;
}

#closer { /* Sets appearance of Play Game button in User directions */
    text-align: center;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
    color: yellow;

}

#deal { /* Sets appearance and location of Deal button */
    font-size: 16pt;
    height: 50px;
    width: 100px;
    top: -50px;
    color: darkgreen;
    background: limegreen;
    border: 2px solid darkgreen;
    border-radius: 10px;
    font-family: "Avenir";
    font-weight: normal;
    cursor: pointer;
}

#hit { /* Sets appearance and location of Hit button */
    font-size: 16pt;
    height: 50px;
    width: 100px;
    top: -50px;
    color: #ac8f1a;
    background: gold;
    border: 2px solid #c4a320;
    border-radius: 10px;
    font-family: "Avenir";
    font-weight: normal;
    cursor: pointer;
}

#stand { /* Sets appearance and location of Stand button */
    font-size: 16pt;
    height: 50px;
    width: 100px;
    top: -50px;
    color: #ac8f1a;
    background: gold;
    border: 2px solid #c4a320;
    border-radius: 10px;
    font-family: "Avenir";
    font-weight: normal;
    cursor: pointer;
}

#reset { /* Sets appearance and location of Play Again button */
    font-size: 16pt;
    height: 50px;
    width: 150px;
    top: -50px;
    color: #e87a6f;
    background: brown;
    border: 2px solid #760f11;
    border-radius: 10px;
    font-family: "Avenir";
    font-weight: normal;
    cursor: pointer;
}

#play{ /* Sets location of music play button */
    width: 30px;
    position: absolute;
    left: 1200px;
    top: 620px;
    cursor: pointer;
}

#pause{ /* Sets location of music pause button */
    width: 30px;
    position: absolute;
    left: 1200px;
    top: 620px;
    cursor: pointer;
}
